/* for testing
body {
  background-color: black;
}
*/

/* For Landing Page */
body {
  margin-bottom: 0;
  font-family: "Roboto";
  color: black;
}

/* landing */
#intro {
  height: 350px;
  width: 100%;
  background-color: #F3F45E;
  color: black;
}

.header {
  padding: 170px 250px;
}


.center {
  padding-left: 39%;
  padding-top: 50px;
}

#section2 {
  height: 500px;
  width: 100%;
  background-color: white;
}

#section3 {
  height: 270px;
  width: 100%;
  background-color: #F3F45E;
}

.bg-dark {
  background-color: #252F37 !important;
}

.carryon {
  text-style-type: ;
}

.carryin {

}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

#section4 {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  list-style-type: none;
}

.nobull {
  list-style-type: none;
}
